.metadata
.recommenders
Libraries
RemoteSystemsTempFiles
Companies/.metadata
Companies/.settings
Companies/bin
Companies/RemoteSystemsTempFiles
Companies/.classpath
Compaines/.project
Companies/plugin.yml